<div id="layoutSidenav_nav">
	<nav class="sidenav shadow-right sidenav-light">
		<div class="sidenav-menu">
			<div class="nav accordion" id="accordionSidenav">
				<div class="sidenav-menu-heading">SISTEM</div>
				<!-- Sidenav Link (Charts)-->
				<a class="nav-link" href="<?php echo RUTA_URL; ?>Psychologist/">
					<div class="nav-link-icon">
						<i class="fa-solid fa-chart-pie"></i>
					</div>
					Dasboard
				</a>
				<!-- Sidenav Menu Heading (Core)-->
				<div class="sidenav-menu-heading">Psicologia</div>
				<!-- Sidenav Accordion (Alumnos)-->
				<a
					class="nav-link collapsed"
					href="javascript:void(0);"
					data-bs-toggle="collapse"
					data-bs-target="#collapseAlumnos"
					aria-expanded="false"
					aria-controls="collapseAlumnos"
				>
					<div class="nav-link-icon">
						<i class="fa-solid fa-file-chart-column"></i>
					</div>
					Alumnos
					<div class="sidenav-collapse-arrow">
						<i class="fas fa-angle-down"></i>
					</div>
				</a>
				<div
					class="collapse"
					id="collapseAlumnos"
					data-bs-parent="#accordionSidenav"
				>
					<nav
						class="sidenav-menu-nested nav accordion"
						id="accordionSidenavPages"
					>
						<a
							class="nav-link"
							href="<?php echo RUTA_URL; ?>Psychologist/users/add"
						>
							Añadir alumno
						</a>
						<a
							class="nav-link"
							href="<?php echo RUTA_URL; ?>Psychologist/users/"
						>
							ver alumonos
						</a>
					</nav>
				</div>
				<!-- Sidenav Accordion (Dashboard)-->
				<!-- Sidenav Heading (Analisis)-->
				<div class="sidenav-menu-heading">Analisis</div>
				<!-- Sidenav Link (Charts)-->
				<a
					class="nav-link"
					href="<?php echo RUTA_URL; ?>Psychologist/graficas_generales"
				>
					<div class="nav-link-icon">
						<i class="fa-solid fa-chart-pie"></i>
					</div>
					Graficas generales
				</a>
				<!-- Sidenav Link (2)-->
			</div>
		</div>
		<!-- Sidenav Footer-->
		<div class="sidenav-footer">
			<div class="sidenav-footer-content">
				<div class="sidenav-footer-subtitle">Logged in as:</div>
				<div class="sidenav-footer-title">
					<?php echo $datos['user']['name'] . ' ' .  $datos['user']['surnames']; ?>
				</div>
			</div>
		</div>
	</nav>
</div>
